{% extends 'gradebook_main/base.html' %}

{% block content %}

<h1>My courses</h1>
<h2>Click to see enrolled students</h2>
<ul>
  {% for course in courses %}
    <li>
      <div>
        {% comment %} <a href=> {% endcomment %}
        {{ course.date_added|date:"Y" }} 
        
        <a href="{% url 'gradebook_main:course' course.id %}">
          {{ course.title }}</a>
      {% comment %} </a> {% endcomment %}
      </div>
    </li>
    {% empty %}
    <li></li>

  {% endfor %}
</ul>

{% endblock content %}